{# Refer: https://docs.djangoproject.com/en/2.0/topics/forms/#rendering-fields-manually #}



<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'loginstyle.css' %}" />
    <title>Login</title>

    <style>
    
    	.form-container{border:1px solid #fff;padding:50px 60px;margin-top:20vh;
		-webkit-box-shadow:  6px -4px 71px 10px rgba(0,0,0,0.75);
		-moz-box-shadow: 6px -4px 71px 10px rgba(0,0,0,0.75);
		box-shadow:  6px -4px 71px 10px rgba(0,0,0,0.75);}

		p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}
    </style>
  </head>
  <body>

    <div class="bg-img">
      <div class="overlay"></div>
    </div>
    <!--login form-->
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="form-container col-sm-4">
          </br>
          <p class="white-text" style="text-align: center; font-weight: bold; font-size: 35px;"><strong>Login</strong></p>
          <form class="form-horizontal white-text" action="/auth/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_template.html' %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success ">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

	</body>
</html>